<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiestas</title>

    {% load bootstrap4 %} {% bootstrap_css %} {% bootstrap_javascript jquery='full' %} {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/5b9c1b87d1.js"></script>
</head>

<body class="container">

    <img src="{% static 'index-logo.jpg' %}" alt="Party logo" class="index-img">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand" href="#">BuildYourParty</span>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if nav == 'index' %}active{% endif %}">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
                        Search
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/building/search">Search buildings</a>
                        <a class="dropdown-item" href="/party/search">Search parties</a>
                    </div>
                </li>

                {% if isCustomer %}
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
                        Customer
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/party/customer/{{userId}}/parties">My parties</a>
                        <a class="dropdown-item" href="/party/customer/{{userId}}/attendrequests">Attend requests</a>
                    </div>
                </li>
                {% endif %} {% if isOwner %}
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
                        Owner
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/building/owner/{{userId}}/buildings">My buildings</a>
                        <a class="dropdown-item" href="/party/owner/{{userId}}/requests">Party requests</a>
                    </div>
                </li>
                {% endif %} {% if isAdmin %}
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
                        Administrator
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/building/admin/buildings">Building requests</a>
                        <a class="dropdown-item" href="/dashboard">Dashboard</a>
                    </div>
                </li>
                {% endif %}

            </ul>
        </div>
        <div>

            {% if userId %}

            <button class="btn btn-outline-primary" onclick="window.location.replace('/roles/logout')">
                    Log out
                </button> {% else %}

            <button class="btn btn-outline-primary" onclick="window.location.replace('/roles/signup')">
                    Sign up
                </button>
            <button class="btn btn-outline-primary" onclick="window.location.replace('/roles/login')">
                    Log in
                </button> {% endif %}

        </div>
    </nav>