<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiestas</title>

    {% load bootstrap4 %} {% bootstrap_css %} {% bootstrap_javascript jquery='full' %} {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body class="container">

    <img src="{% static 'index-logo.jpg' %}" alt="Party logo" class="index-img">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand" href="#">BuildYourParty</span>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if nav == 'index' %}active{% endif %}">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
                    Search
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/search_buildings">Search buildings</a>
                        <a class="dropdown-item" href="/search_parties">Search parties</a>
                    </div>
                </li>
            </ul>
        </div>
        <div>

            {% if userId %}

            <button class="btn btn-outline-primary" onclick="window.location.replace('/logout')">
                    Log out
                </button> {% else %}

            <button class="btn btn-outline-primary" onclick="window.location.replace('/signup')">
                    Sign up
                </button>
            <button class="btn btn-outline-primary" onclick="window.location.replace('/login')">
                    Log in
                </button> {% endif %}

        </div>
    </nav>