<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiestas</title>
</head>

<body>
    <h1>Index</h1>
    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Capacity</th>
                <th>Decision</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for building in buildings %}

            <tr>
                <td>{{building.address}}</td>
                <td>{{building.capacity}}</td>
                <td>{{building.decision}}</td>
                <td>{{building.owner}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</body>

</html>