{% extends 'base.html' %} {% block content %}

<div class="mt-3 animated fadeIn faster">
    <h2>Party requests</h2>
    <hr>
    <table class="table">
        <thead style="background-color: #AC2840;">
            <tr>
                <th scope="col">Building</th>
                <th scope="col">Customer</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody style="background-color: #343A40;" ">

            {% for request in requests  %}
            <tr style="color: #AC2840; ">
                <td>{{request.building}}</td>
                <td>{{request.customer}}</td>
                <td>
                    <button class="btn btn-outline-primary " onclick="window.location.replace( '/party/request/show/{{request.id}}') ">
                        <i class="fa fa-eye "></i>
                        See details
                    </button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock content %}