{% extends 'base.html' %} {% block content %}
<div class="row mt-4 animated fadeIn faster">
    <div class="col-md-12">
        <form method='POST'>
            {% csrf_token %}
            <input class="form-control search" autocomplete="off" type='text' name='search' id='search' placeholder='Search for a party'>
        </form>
    </div>
</div>

<div class="card-columns mt-3 animated fadeIn faster">


    {% for party in parties %}

    <div class="card mb-3">
        <img src="{{ party.picture }}" class="card-img-top" alt="{{ party.request.building.address }}">
        <div class="card-body">
            <h5 class="card-title">{{party.name}} (Price: {{party.price}})</h5>
            <hr>
            <p class="card-text">{{party.request.building.address}}</p>
            <p class="card-text">{{party.description}}</p>
            <p class="card-text">{{party.startDate}} / {{party.endDate}}</p>
            <p class="card-text"><small>{{party.request.customer}}</small></p>
            <button class="btn btn-outline-primary btn-block" onclick="window.location.replace('/party/show/{{party.id}}')">
                <i class="fa fa-eye"></i>
                See details
            </button>
        </div>
    </div>

    {% endfor %}


</div>

{% endblock content %}