{% extends 'base.html' %} {% block content %}
<div class="animated fadeIn faster">
    <div class="row mt-5">
        <div class="col-4">
            <img src="{{party.picture}}" alt="{{party.name}}" class="img-fluid rounded-circle">
        </div>
        <div class="col-8">
            <h2>{{party.name}}</h2>
            <p style="color: #AC2840;">{{party.request.building.address}}</p>
            <hr>
            <small style="color: #AC2840;">
                {{party.description}}<br>
                Price: {{party.price}}<br>
                Date: {{party.startDate}} / {{party.endDate}}<br>
                Number of attendees: {{party.numberOfAttendees}}
            </small>
        </div>
    </div>
    <hr>
</div>
{% endblock content %}