{% extends 'base.html' %} {% block content %}
<div class="animated mt-3 fadeIn faster">
    <h2>
        My buildings
        <button class="btn btn-outline-primary" onclick="window.location.replace('/building/new')">
            <i class="fa fa-plus"></i>
            New building
        </button>
    </h2>
    <hr>

    <div class="card-columns">


        {% for building in buildings %}

        <div class="card mb-3">
            <img src="{{ building.picture }}" class="card-img-top" alt="{{ building.address }}">
            <div class="card-body">
                <h5 class="card-title">{{building.address}} (Capacity: {{building.capacity}})</h5>
                <hr>
                <p class="card-text">{{building.conditions}}</p>
                <p class="card-text"><small>{{building.owner}}</small></p>
                <p class="card-text">

                    {% if building.decision == 'ACCEPTED' %}
                    <span class="badge badge-pill badge-success">{{building.decision}}</span> {% elif building.decision == 'PENDING' %}
                    <span class="badge badge-pill badge-secondary">{{building.decision}}</span> {% else %}
                    <span class="badge badge-pill badge-danger">{{building.decision}}</span> {% endif %}

                </p>
                <button class="btn btn-outline-primary btn-block" onclick="window.location.replace('/building/show/{{building.id}}')">
                    <i class="fa fa-eye"></i>
                    See details
                </button>
            </div>
        </div>

        {% endfor %}


    </div>

</div>
{% endblock content %}