{% extends 'base.html' %} {% block content %}
<div class="row mt-4 animated fadeIn faster">
    <div class="col-md-12">
        <form method='POST'>
            {% csrf_token %}
            <input class="form-control search" autocomplete="off" type='text' name='search' id='search' placeholder='Search for a building'>
        </form>
    </div>
</div>

<div class="card-columns mt-3 animated fadeIn faster">


    {% for building in buildings %}

    <div class="card mb-3">
        <img src="{{ building.picture }}" class="card-img-top" alt="{{ building.address }}">
        <div class="card-body">
            <h5 class="card-title">{{building.address}} (Capacity: {{building.capacity}})</h5>
            <p class="card-text">{{building.conditions}}</p>
            <p class="card-text"><small>{{building.owner.name}} {{building.owner.surname}}</small></p>
            <button class="btn btn-outline-primary btn-block" onclick="window.location.replace('/building/show/{{building.id}}')">
                See details
            </button>
        </div>
    </div>

    {% endfor %}


</div>

{% endblock content %}