{% extends 'base.html' %} {% block content %}
<div class="animated fadeIn faster">
    <div class="row mt-5">
        <div class="col-4">
            <img src="{{building.picture}}" alt="{{building.address}}" class="img-fluid rounded-circle">
        </div>
        <div class="col-8">
            <h2>{{building.address}}</h2>
            <p style="color: #AC2840;">{{building.owner.name}} {{building.owner.surname}}</p>
            <hr>
            <small style="color: #AC2840;">{{building.conditions}}</small>
        </div>
    </div>
    <hr>
</div>
{% endblock content %}